.logo-service { width: 20px; position: relative; top: -2px; }

.table .btn.btn-icon-only.action-icon { margin-right: 2px; height: 24px; width: 24px;}
.table .btn.btn-icon-only.action-icon i {
    display: block;
    line-height: 10px;
    margin-top: 0px;
}

.portlet.portlet-mini.light .portlet-body {padding-top: 0;}
.portlet.portlet-mini .table-toolbar { margin: 0; }
.portlet.portlet-mini .tabbable-bordered { margin: 0;}

.more-items button { display: block; }

.campaign-item { margin-bottom: 10px; }
